* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    position: relative;
}
.none {
    width: 10px;
    height: 10px;
}
.About-gowed {
    margin: 10rem 0;
}

.founder {
    display: flex;
    align-items: center;
    justify-content: center;
}